/* Estilização de textos*/
.texto {
	font-family: Arial, sans-serif;
}
.link-menu {
	padding-left: 20px;
	color: white;
	font-size: 13px;
}
.titulo-alepa {
	font-size: 12px;
}
.center-txt {
	text-align: center;
}
.title-home {
	color: #1E68A5;
}
